@import url("./base.css");

:root {
  --pulser-bg-color: #090a0a;
}

#pulser{
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 10vw);
  right: 40vw;
  width: 20vw;
  height: 20vw;

  background-color: var(--pulser-bg-color);

  animation-name: pulse;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    background-color: var(--pulser-bg-color);
  }


  100% {
    transform: scale(2, 2);
    background-color: #b0d6e8;
    opacity: 0;
  }
  
}

#mic {
  border-radius: 50%;
  width: 30vw;
  position: absolute;
  top: calc(50% - 15vw);
  right: 35vw;
  z-index: 2;
}

@media (orientation: portrait) {
}